body {
  background-color: #F2F2F2 ;
}

.main {
  margin-top: 220px; /* Add a bottom margin to avoid content overlay */
}

#header {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;

  text-align: center;
  text-shadow: 0.1em 0.1em #333;
  background: #A7756E;
  color: white;
  font-size: 30px;
  font-family: 'Gabriela', serif;
}

h1 {
  top: 20px;
}

p {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 10px;
  color: grey;
  font: Verdana;
  display: inline-block;
  text-align: justify;
}

.productos {
   width: 100%;
}

img {
  width: 350px;
  height: 300px;
  display: block;
  margin: auto;
}

.columna {
  width:29%;
  float:left;
  margin-left: 35px;
  margin-bottom: 35px;
  font-size: 15px;
  font-weight: bold;
  font-family: Georgia;
  border: grey 1px solid;
}

a:link, a:visited  {
  margin-left: 30px;
  font-size: 18px;
  font-family: Verdana;
  align: left;
  color: #A7756E;
  text-decoration: none;
}

a:hover {
  color: #CC0066;
  text-decoration: underline;
}

.Price {
  font-size: 17px;
  margin-left: 65px;
}

#header .prueba {
  /* Properties */
  text-align: right;
  font-size: 14px;
  color: #F2F2F2;
}
