body {
  background-color: #F2F2F2 ;
}

.main {
  margin-top: 220px; /* Add a bottom margin to avoid content overlay */
}

.header {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;

  text-align: center;
  text-shadow: 0.1em 0.1em #333;
  background: #A7756E;
  color: white;
  font-size: 30px;
  font-family: 'Lemonada', cursive;
}

h1 {
  top: 20px;
}

p {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 15px;
  color: grey;
  font: Verdana;
  display: inline-block;
  text-align: justify;
}

li {
  font-size: 15px;
  font-weight: normal;
  font: Verdana;
  margin-left: 40px;
}

.productos {
   width: 100%;
}

img {
  width: 350px;
  height: 300px;
}

#cajas {
  width: 350px;
  height: 400px;
}

.columna {
  width:45%;
  float:left;
  margin-left: 50px;
  font-size: 15px;
  font-weight: bold;
  font-family: Georgia;
}

a:link, a:visited, a:hover {
  box-shadow:inset 0px 39px 0px -24px #A7756E;
  position: relative;
  background-color:#A7756E;
  border-radius:4px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Verdana;
  font-size:15px;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
  text-align: center;
  width: 300px;
  margin-left: 30px;
}

#izquierda {
  width: 60%;
  float: left;
}

#derecha {
  width: 20%;
  border-left: grey 1px solid;
  margin-left: 20px;
  padding-left: 30px;
  height: 400px;
}
